.fortid {
    background-image: url(../imgs/tidslinje-baggrund.jpg);
    background-size: 1366px 1024px;
    width: 1366px;
    height: 1024px;
    overflow-y: hidden;
}

#timeline-container {
    display: flex;
    gap: 4rem;
    overflow-x: hidden;
    scroll-behavior: auto;
    max-width: 1366px;
    width: 100%;
}

#timeline-container :where(.main-titel, .age-titel, .main-text, .text-btn) {
    display: flex;
    align-items: center;
}

.timeline-item {
    width: 446px;
    flex-shrink: 0;
}

.dragging {
    cursor: grabbing;
    user-select: none;
}

#info-box {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6); /* semitransparent baggrund */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

#udvidet-kasse {
    background-color: #F4E6E6;
    padding: 2rem;
    width: 1065px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    height: 690px;
    overflow-y: auto;
}

#luk img {
    position: absolute;
    top: 10rem;
    right: 9.1rem;
    border: none;
    width: 8rem;
}

#udvidet-tekst {
    color: black;
    font-size: 1.75rem;
}

.hidden {
    display: none !important;
}

.show {
    display: flex !important;
}

h2 {
    margin-top: 1rem;
    color: #90D7FC;
}

p {
    color: #F5E6E6;
}

.timeline-item:nth-child(even) .time-box {
    margin-top: 40rem;    /* Skubber boksen ned */
    margin-bottom: 0;
}

/* Ulige felter placeres over stregen */
.timeline-item:nth-child(odd) .time-box {
    margin-top: 0;
    margin-bottom: auto; /* Skubber boksen op */
    padding-top: 2.3rem;
}

.time-box {
    display: grid;
    grid-template-areas: 
        "titel age"
        "text text"
        "button button";
    grid-template-columns: 1fr;
}

.time-box > h2.main-titel {
    grid-area: titel;
}

.time-box > h2.age-titel {
    grid-area: age;
}

.time-box > p.main.text {
    grid-area: text;
}

.time-box > button.text-btn {
    grid-area: button;
}

h2 {
    font-size: 50px;
    font-weight: 100;
}

h2 .age-titel {
    font-family: 'Montserrat';
}