.fortid {
    background-image: url(../imgs/tidslinje-baggrund.jpg);
    background-size: 1366px 1024px;
    width: 1366px;
    height: 1024px;
}

#mere-1, #mere-2, #mere-3, #mere-4, #mere-5, #mere-6, #mere-7, #mere-8, #mere-9{

}