
/* .forultra {
    background-image: url(../imgs/dummie-2.png);
    background-size: 1366px 1024px;
    width: 1366px;
    height: 1024px;
} */

article {
    position: relative;
    width: 1366px;
    height: 1024px;
    aspect-ratio: 1 / 1; /* eller brug en fast højde fx height: 50rem; */
    overflow: hidden;
}

.dommie1, .dommie2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 1366px;
    height: 1024px;
    max-width: 100rem;
    object-fit: cover; /* skalerer billedet så det fylder containeren */
}


.dommie1 {
    z-index: 1;
}

.dommie2 {
    z-index: 0;
}

.return {
    z-index: 3;
}

.p {
    font-family: bright mirage;
    color: #F5E6E6;
    z-index: 3;
}



.dommie1 {
    z-index: 1;
    pointer-events: none; /* vigtigt: så musen går "gennem" billedet */
    mask-image: none;
    -webkit-mask-image: none;
    transition: mask-image 0.1s ease, -webkit-mask-image 0.1s ease;
}

.masked {
    mask-image: radial-gradient(circle 100px at var(--x) var(--y), transparent 0%, black 100%);
    -webkit-mask-image: radial-gradient(circle 100px at var(--x) var(--y), transparent 0%, black 100%);
    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;
}