.text-ontop {
    position: absolute;
    z-index: 3;
    width: 100%;
    color: #F5E6E6;
}

.top {
    margin-top: 2rem;
}

.bottom {
    margin-top: 8rem;
}

article {
    position: relative;
    width: 1366px;
    height: 1024px;
    overflow: hidden;
}

.dummy-one, .dummy-two {
    position: absolute;
    top: 0;
    left: 0;
    width: 1366px;
    height: 1024px;
    max-width: 100rem;
    object-fit: cover; /* skalerer billedet så det fylder containeren */
}


.dummy-one {
    z-index: 1;
    pointer-events: none; /* vigtigt: så musen går "gennem" billedet */
    mask-image: none;
    -webkit-mask-image: none;
    transition: mask-image 0.1s ease, -webkit-mask-image 0.1s ease;
}

.dummy-two {
    z-index: 0;
}

.return {
    z-index: 3;
}

.p {
    font-family: bright mirage;
    color: #F5E6E6;
    z-index: 3;
}

.masked {
    mask-image: radial-gradient(circle 70px at var(--x) var(--y), transparent 0%, black 100%);
    -webkit-mask-image: radial-gradient(circle 70px at var(--x) var(--y), transparent 0%, black 100%);
    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;
}