.forvideo {
    background-image: url(../imgs/video-baggrund.PNG);
    background-size: 1366px 1024px;
    width: 1366px;
    height: 1024px;
}

main {
    max-width: 1366px;
    max-height: 1024px;
}

/* Video styling----- */
.videor {
    width: 180px;
    height: 180px;
    border-radius: 100%;
    box-shadow: 2px 2px 10px RGBA(0,0,0,0.5);
    position: absolute;
}

#video-1 {
    top: 33%;
    left: 8%;
}
#video-2 {
    top: 32%;
    left: 75%;
}
#video-3 {
    top: 56%;
    left: 15%;
}
#video-4 {
    top: 55%;
    left: 72%;
}

/* Linje styling----- */
.sort-linje {
    width: 300px;
    height: 3px;
    background-color: black;
    border: none;
    position: absolute;
}

#linje-1 {
    top: 53%;
    left: 15%;
}
#linje-2 {
    top: 52%;
    left: 63%;
}
#linje-3 {
    top: 76%;
    left: 20%;
}
#linje-4 {
    top: 75%;
    left: 60%;
}


/* h3 styling----- */
.video-symbol {
    width: 55px;
}

.video-title {
    color: black;
    font-family: 'montserrat';
    position: absolute;
}

#title-1 {
    top: 53%;
    left: 15%;
}
#title-2 {
    top: 52%;
    left: 63%;
}
#title-3 {
    top: 76%;
    left: 20%;
}
#title-4 {
    top: 75%;
    left: 60%;
}